/********** Template CSS **********/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5; 
    color: black;
    text-decoration: none;
}

.headerbox {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8); 
    color: black;
    padding: 20px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 999;
    justify-content: space-between;
}
.header {
    display: flex;
    align-items: center;
}
.nav-item {
    text-decoration: none;
    color: black;
    margin-left: 100px;
    font-size: 30px;
}
.logo {
    height: auto;
    width: 200px;
}
.pagina-titelbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pagina-titelbox {
    position: relative; /* Make the parent elet relative */
  }
  
  .pagina-titel {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
.pagina-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: rgb(240, 240, 240);
}
.titel {
    font-size: 50px;
    margin: 50px;
    color: rgb(0, 162, 255);
}
.over-titel {
  font-size: 50px;
  margin: 50px;
  color: rgb(255, 255, 255);
}

.titel-tekst {
  font-size: 50px;
  margin: 50px;
  color: rgb(255, 255, 255);
}
.contact-titel{
 margin-top: 250px;
 font-size: 50px;
 margin: 50px;
 color: rgb(0, 162, 255);
}

.tekst {
  margin: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.margin{
  height: 70px;
  margin: 50px;
}
.button {
    background-color: rgb(0, 162, 255);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 50px;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  .ideale-reis-container {
    display: flex;
      flex-direction: column;

  }
  .menu-container {
      display: flex;
      justify-content: center;
  }
  .menu-container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  .reisblok {
    display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .imgblok {
    margin: 10px;
    border-radius: 10px ;
    width: 40%;
    height: auto;
    object-fit: cover;
  }
  
  /* Style the card content */
  .reis-content {
    padding: 15px;
  }
  

  .reisnaam {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .reisprijs {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f08080;
    margin-bottom: 10px;
  }


  .zoekbalk {
  
    display: flex;
    min-height: 44px;
    border: 1px solid transparent;
    background: #0dcaf0;
    box-shadow: 0 1px 3px rgba(23,23,23,0.24);
    border-radius: 24px;
    width: 690px;
  }
  
  .tekstblokblok{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .reizenblok{
    margin-top: 250px;
    margin-left: 20px;
  }

  .contact-blok {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  .container {
    position: relative;
    width: 100%;
  }
  
  .background-image {
    width: 100%;
    height: auto;
  }
  
  .text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .container-center {
      display: flex;
      justify-content: center;
  }
.container-1 {
    display: flex;
    background-color: #0dcaf0;
}

.image {
    width: 500px;
    height: auto;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 100px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-score {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.review-count {
    color: #6c757d;
}

.features {
    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkmark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #28a745;
    margin-right: 10px;
}
  .panel-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  .table-head {
    color: black;
    font-size: 24px;
  }
  .button-submit-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
   }
   .button-submit-panel:hover {
    background-color: #252727;
   }
  .inlog-box {
    width: 100%;
      margin-left: 300px;
    display: flex;
    justify-content: center;
  }
  .geen-account {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  label {
    color: black;
    font-size: large;
  }
  table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
  border: 1px solid #ddd;
    color:black;
    border: 1px solid #ddd; /* light gray border */
    padding: 10px;
    text-align: left;
}
th {
    color: black;
    background-color: #f7f7f7; /* light gray background */
}
tr:nth-child(even) {
    color: black;
    background-color: #f2f2f2; /* light gray background */
}
a {
    text-decoration: none;
    color: #337ab7; /* blue link color */
}
a:hover {
    color: #23527c; /* darker blue link color on hover */
}
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .form button {
    align-self: flex-end;
   }
   .flex-column > label {
    color: #151717;
    font-weight: 600;
   }
   .inputForm {
    box-shadow: inset 0px 0px 5px 1px #d9d9d9;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
   }
   .input {
    width: 100%;
    border: none;
    margin: 0px 10px 0px 10px;
   }
   .input:focus {
    outline: none;
   }
   .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
   }
   .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
   }
   .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
   }
   .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
   }
   .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
   }
   .button-submit:hover {
    background-color: #252727;
   }
   .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
   }
   .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
   }
   .btn:hover {
    border: 1px solid #2d79f3;
    ;
   }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
   
  .message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
   
  .flex {
    display: flex;
      flex-direction: column;
    width: 100%;
    gap: 6px;
  }
   
  .form label {
    position: relative;
  }
   
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
   
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
   
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
   
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
   
  .form label .input:valid + span {
    color: green;
  }
   
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
   
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
   
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
   
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
   
  .form label .input01:valid + span {
    color: green;
  }
   
  .fancy {
    background-color: transparent;
    border: 2px solid #cacaca;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
   
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
   
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
  }
   
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
   
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
   
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
   
  .fancy:hover {
    color: white;
    background: #cacaca;
  }
   
  .fancy:hover::before {
    width: 1.5rem;
    background: white;
  }
   
  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }
   
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
   
  .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

  .footerbox {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  .footer {
      margin-left: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .tekst-footer {
      margin: 100px;
      color: black;
      font-size: 30px;
  }
/********** Privacy policy css **********/

.terms-header {
  font-size: 50px;
  color: rgb(0, 162, 255);
  margin: 50px;
  text-align: center;
}

.section-title-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 40px;
  color: rgb(240, 240, 240);
  display: inline-block;
}

.section-text {
  margin: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: justify;
  text-justify: inter-word;
}