/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LaRezolt', sans-serif;
}
@font-face {
    font-family: 'LaRezolt';
    src: url('LA\ REZOLT\ Trial.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Header Styling */

:root {
    --header-background-color: #FF007F;
    --text-color: white;
    --button-background-color: yellow;
    --button-text-color: black;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #00CC00;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: var(--header-background-color);
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: none;
}

.logo {
    margin-right: -80px; /* Adjust margin as needed */
}

.logo img {
    width: 360px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.profile {
    display: flex;
    align-items: center;
}

.profile button {
display: inline-block;
outline: 0;
cursor: pointer;
border: none;
padding: 0 56px;
height: 45px;
line-height: 45px;
border-radius: 7px;
background-color: var(--button-background-color);
color: var(--button-text-color);
font-weight: 400;
font-size: 16px;
box-shadow: 0 4px 14px 0 rgba(229, 218, 2, 0.885);
transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.profile button:hover {
    background: rgba(229, 218, 2, 0.9);
    box-shadow: 0 6px 20px rgba(229, 218  0.885 / 23%);
}
.buttons button {
    margin: 10px;
    margin-right: 100px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgba(229, 218, 2, 0.885);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    }
    
    .profile button:hover {
        background: rgba(229, 218, 2, 0.9);
        box-shadow: 0 6px 20px rgba(229, 218  0.885 / 23%);
    }

.top-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    flex: 1; /* Take up remaining space */
    flex-direction: column; /* Align children vertically */
}

.top-text {
    text-align: center; /* Center text */
    margin: 20px;
    font-size: 30px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    text-shadow: 4px 1px 2px rgba(121, 121, 121, 1);
}

.buttons {
    display: flex;
    align-items: center;
}
/* Cookie Popup hihi */
body {
    font-family: Arial, sans-serif;
}
.cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(114, 252, 1, 0.8);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

.cookie-popup p {
    margin: 0;
    padding-right: 10px;
    flex: 1; /* Zorg ervoor dat de tekst ruimte inneemt */
}

.cookie-popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0; /* Voorkom dat de knop verkleint */
}

.cookie-popup button:hover {
    background-color: #45a049;
}
.hoofdkantoor {
    width: 200px;
    height: 130px;
}

.tekstblok {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tekst {
    width: 800px;
    margin-top: 20px;
}